@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.tip {
    @apply bg-primary-600 text-white text-xl w-full p-2 rounded col-span-6 text-center lg:col-span-4 
    /* hover:bg-cyan-500 hover:text-primary-600 */
}

input {
    @apply focus:outline-cyan-500
}

.custom {
    @apply bg-primary-100 text-primary-400 pl-4 text-xl text-center rounded col-span-6 lg:col-span-4
}

h1, h2, h3 {
    @apply text-primary-400
}

* {
    box-sizing: border-box;
}
body {
    min-width: 330px;
}
.bill {
    background: url(/public/images/icon-dollar.svg) no-repeat;
}
.people__num {
    background: url(/public/images/icon-person.svg) no-repeat left;
}
.bill, .people__num {
    background-position: 2% 50%;
    color: hsl(183, 100%, 15%);
    text-align: right;
}
.active {
    background-color: rgb(6 182 212);
    color: hsl(183, 100%, 15%);
}
.people__message--error {
    color: red;
}
.people__num--error {
    outline: 0.15em solid hsla(0, 100%, 50%, 0.692);
}