.custom {
    position: relative;
}
.blur .custom {
    color: transparent;
}
.blur .custom::before {
    content: 'Custom';
    position: absolute;
    inset: 0;
    z-index: 1;
    background-color: black;
    color: black;
}
.hide {
    display: none;
}